/*
    Created on : 26 jul. 2019, 9:33:57
    Author     : pedroapelaez
*/

.block-aemet-simple-aemet-weather {
  float: left;
  margin-right: 10px;
}

.weather-block-sky {
  width: 24px;
  float: left;
  margin-right: 5px;
}

.weather-block-aemet-copy {
  font-size: 8px;
}
